confluent-kafka==2.11.0
python-dotenv==1.1.1
pydantic==2.11.7
pydantic-settings==2.10.1
rich==14.0.0
qdrant-client==1.14.3
supabase==2.16.0
aiohttp==3.12.14
prometheus-client==0.22.1

# CPU-only (Save space if nvidia cuda supported gpu not available) PyTorch (install first)
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0

sentence-transformers==5.0.0
