# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# General IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# General temporary files
*.bak
*.tmp
*.old

# Docker specific files
docker-compose.override.yml

# Project specific
*.sqlite

# Logs (project-wide)
*.log
logs/