QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=sneakdex
QDRANT_COLLECTION_NAME_IMAGES=sneakdex-images
SUPABASE_URL=
SUPABASE_API_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
HUGGINGFACE_API_KEY=